.cont
  h1= title
  .tools
    a(href="#colors_sketch", data-download="png", style="float: right; width: 100px;") Download
  canvas(id="colors_sketch", width="1000", height="800")
  .footer 
    a(href="https://github.com/jkimbo/draw", id="github") Github
    a(href="http://twitter.com/#!/jonnykim", id="twitter") @jonnykim
