!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/socket.io/socket.io.js")
  body!= body
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js")
  script(src="/js/sketch.js")
  script(src="/js/script.js")
