body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.tools a {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}
canvas {
  margin-top: 20px;
  border: 1px solid #CCC;
}
